#barre{
    width: 500px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.194);
}

#carrer{
    width: 100px;
    height: 100px;
    border: 1px solid;
}



.flip{
display: flex;
align-items: center;
justify-content: center;
    margin-top: 100px;
    width: 100px;
    height: 100px;
    background-color: lightblue;
    transition-duration: 1s;
}
.pass:hover .flip{
    transform: rotateY(180deg);
  }



  .flipDeux{
    display: flex;
    align-items: center;
    justify-content: center;
        margin-top: 100px;
        width: 100px;
        height: 100px;
        background-color: lightblue;
        transition-duration: 1s;
    }
    .passDeux:hover .flipDeux{
        transform: rotateX(180deg);
      }

      

      .flipTrois{
        display: flex;
        align-items: center;
        justify-content: center;
            margin-top: 100px;
            width: 100px;
            height: 100px;
            background-color: lightblue;
            transition-duration: 1s;
        }
        .passTrois:hover .flipTrois{
            transform: rotateZ(80deg);
          }
    